<!--<div class="ym-g20 ym-gl">&nbsp;</div>-->
<div class="ym-g100 ym-grid">
    <article>
        <%= render :partial => 'refinery/pages/partials/content_block', :collection => content_block_names,
                   :as => 'block_name' %>
    </article>
</div>
<!--<div class="ym-g20 ym-gr">&nbsp;</div>-->
